@font-face {
  font-family: 'Comic Code Ligatures';
  src: url('/font/ComicCodeLigatures/ComicCodeLigatures-Regular.otf');
}
@font-face {
  font-family: 'Comic Code Ligatures';
  src: url('/font/ComicCodeLigatures/ComicCodeLigatures-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: 'Comic Code Ligatures';
  src: url('/font/ComicCodeLigatures/ComicCodeLigatures-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Comic Code Ligatures';
  src: url('/font/ComicCodeLigatures/ComicCodeLigatures-Italic.otf');
  font-style: italic;
}
@font-face {
  font-family: 'Comic Code Ligatures';
  src: url('/font/ComicCodeLigatures/ComicCodeLigatures-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'Comic Code Ligatures';
  src: url('/font/ComicCodeLigatures/ComicCodeLigatures-MediumItalic.otf');
  font-weight: 500;
  font-style: italic;
}