name: Build Docker Image

on:
  push:
    branches:
        - main
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.10.0
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6.15.0
        with:
          push: true
          file: Dockerfile
          platforms: linux/amd64
          tags: ghcr.io/lillithrosepup/website:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
  deploy:
    needs: docker
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Deploy
        if: contains(env.PORTAINER_WEBHOOK_URL, 'http')
        run: |
          curl -X POST -H "Content-Type: application/json" -d '{"text": "Deployed"}' ${PORTAINER_WEBHOOK_URL}
        env:
          PORTAINER_WEBHOOK_URL: ${{ secrets.PORTAINER_WEBHOOK_URL }}